.container{
    width: 75%;
    margin: 0;
    padding: 0;
    float: right;
    height: 850px;
}

.kontaktskjema{
    width: 40%;
    margin-left: 25%;
    background-color: #dddddd;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
}

input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type = text]:focus, input[type = text]:focus, textarea:focus{
    background-color: rgba(255, 250, 254, 0.8);
    outline: none;
}

input[type=submit] {
    background-color: #153195;
    color: white;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 22px;
}

input[type=submit]:hover{
    background-color: #1533c1;
}

.overskriftKontakt{
    margin-left: 300px;
    margin-top: 60px;
}

.overskriftKontakt p{
    font-style: italic;
    font-size: 16px;
    width: 100%;
    line-height: 20px;
    text-align: left;
    margin-left: 40px;
}

.overskriftKontakt h1{
    font-size: 32px;
    font-family: 'Open Sans Condensed', sans-serif;
}
